<section class="section-page-title">
  <h1 class="page-title">Contact Us</h1>
</section>

<section class="section contact">
  <div class="container row">
    <div class="col-8">
      <h2>Contact Us</h2>

      <p>Have a question or comment? You may contact us by phone or email.<br>
        Or you can also use the contact form below.
      </p>

      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="tel" class="form-control" id="inputPhone" placeholder="Phone">
          </div>
          <div class="form-group col-md-6">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>

        <div class="form-group">
          <textarea class="form-control" id="inputMessage" rows="5" placeholder="Message"></textarea>
        </div>
      </form>
    </div>

    <div class="col-4">
      <ul class="contact-info fa-ul">
        <li class="info-list">
          <span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>
          <p>Address</p>
          <div class="info">
            <a href="https://maps.google.com/?q=Nails Spa, North Coit Road, Richardson, TX" target="_blank">
              420 N Coit Road #2021<br>
              Richardson, TX 75080</a>
          </div>
        </li>

        <li class="info-list">
          <p>Phone</p>
          <span class="fa-li"><i class="fas fa-phone"></i></span>
          <div class="info">
            <a href="tel:+9729520232">(972) 952-0232</a>
          </div>
        </li>

        <li class="info-list">
          <span class="fa-li"><i class="far fa-envelope"></i></span>
          <p>E-mail</p>
          <div class="info">
            <a href="mailto:">info@nailspa.com</a>
          </div>
        </li>

        <li class="info-list">
          <span class="fa-li"><i class="far fa-clock"></i></span>
          <p>Opening Hours</p>
          <div class="info">
            <ul class="hours">
              <li>Mon-Fri: 10 am &ndash; 7:30 pm</li>
              <li>Saturday: 9:30 am &ndash; 7:30 pm</li>
              <li>Sunday: 12 pm  &ndash; 6 pm</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section>
