<section class="section-page-title">
  <div class="container">
    <h1 class="page-title">Contact Us</h1>
  </div>
</section>

<section class="section contact">
  <div class="container row">
<!--contact form column section-->
    <div class="col-lg-8">
      <h2>Contact Us</h2>

      <div class="divider-lg"></div>

      <p class="intro">Have a question or comment? You may contact us by phone or email.<br class="break">
        Or you can also use the contact form below.
      </p>

      <form #contactForm="ngForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" required ngModel name="first" #first="ngModel">
            <div [hidden]="first.valid || first.untouched" class="isInvalid">First name is required</div>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" required ngModel name="last" #last="ngModel">
            <div [hidden]="last.valid || last.untouched" class="isInvalid">Last name is required</div>
          </div>
        </div>

        <div class="container">
          <p class="">Please select your preferred method of contact:</p>

          <div class="form-row container prefContact">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Phone" ngModel name="pref" #pref="ngModel" required>
              <label class="form-check-label" for="inlineRadio1">Cell Phone</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Email" ngModel name="pref" #pref="ngModel" required>
              <label class="form-check-label" for="inlineRadio2">Email</label>
            </div>
          </div>
        </div>

        <div class="form-row align-items-center">
          <div *ngIf="pref.value === 'Phone'" class="form-group col-md-6 pref-input">
            <input type="tel; number" class="form-control prefContact" id="inputPhone" placeholder="Phone" required ngModel name="phone" #phone="ngModel">
            <div [hidden]="phone.valid || phone.untouched" class="isInvalid">Phone number is required</div>
          </div>
          <div *ngIf="pref.value === 'Email'" class="form-group col-md-6 pref-input">
            <input type="email" class="form-control prefContact" id="inputEmail" placeholder="Email" required ngModel name="email" #email="ngModel">
            <div [hidden]="email.valid || email.untouched" class="isInvalid">Email is required</div>
          </div>
        </div>

        <div class="form-group message">
          <div [hidden]="message.valid || message.untouched" class="isInvalid-msg">A message is required</div>
          <textarea class="form-control" id="inputMessage" rows="5" placeholder="Message" required ngModel name="message" #message="ngModel"></textarea>
        </div>

        <button type="submit" class="btn" [disabled]="!contactForm.form.valid" (click)="contactForm.reset()">Send Message</button>
      </form>
    </div>

<!--contact info column section-->
    <div class="col-lg-4">
      <ul class="contact-info fa-ul">
        <li class="info-list">
          <span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>
          <p>Address</p>
          <div class="info">
            <a href="https://maps.google.com/?q=Nails Spa, North Coit Road, Richardson, TX" target="_blank">
              420 N Coit Road #2021<br>
              Richardson, TX 75080</a>
          </div>
        </li>

        <li class="info-list">
          <p>Phone</p>
          <span class="fa-li"><i class="fas fa-phone"></i></span>
          <div class="info">
            <a href="tel:(972) 952-0232">(972) 952-0232</a>
          </div>
        </li>

        <li class="info-list">
          <span class="fa-li"><i class="far fa-envelope"></i></span>
          <p>E-mail</p>
          <div class="info">
            <a href="mailto:info@nailspa.com">info@nailspa.com</a>
          </div>
        </li>

        <li class="info-list">
          <span class="fa-li"><i class="far fa-clock"></i></span>
          <p>Opening Hours</p>
          <div class="info">
            <ul class="hours">
              <li>Mon-Fri: 10 am &ndash; 7:30 pm</li>
              <li>Saturday: 9:30 am &ndash; 7:30 pm</li>
              <li>Sunday: 12 pm  &ndash; 6 pm</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
