<body (click)="this.sidebar.closeContactBox()">

<section class="section-page-title">
  <div class="container">
    <h1 class="page-title">Gallery</h1>
  </div>
</section>

<!-- use this section when I add the gallery -->
<!--
    <section class="section gallery">
      <div class="container">
      </div>
    </section>
-->

<div class="soon">
  <div class="soon-inner">
    <h1>COMING SOON</h1>
    <p>This page is under construction. We are working very hard to give you a great looking portfolio.</p>
  </div>
</div>

</body>
