<section class="section-page-title">
  <div class="container">
    <h1 class="page-title">Gallery</h1>
  </div>
</section>

<section class="section gallery">
  <div class="container">
    <h1>COMING SOON</h1>
    <img class="w-100" src="https://st2.depositphotos.com/5948652/10832/v/950/depositphotos_108329740-stock-illustration-under-construction-girl.jpg" alt="Under Construction Image">
    <p>This page is under construction. We are working very hard to give you a great looking portfolio.</p>
  </div>
</section>
