.outer {
  background-color: white;
}

.inner {
  margin: 0 auto;
  max-width: 1200px;
}

#logo {
  width: 30px;
  height: 30px;
}

a:hover {
  color: red;
}

.active {
  color: red;
}

.links {
  margin: 0 auto;
}

.nav-item {
  padding: 0 30px;
  margin-bottom: 3px;
}

@media only screen and (max-width: 812px) {
    /* For mobile phones: */
    .navbar-brand, .nav {
        margin: 0 auto;
    }
}
