<div class="text-center">
  <a class="navbar-brand" routerLink="/home">
    <h5>Nails & Spa</h5>
    <h5>Logo</h5>
  </a>
</div>

<nav class="navbar justify-content-center">
  <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
  <a class="nav-item nav-link" routerLink="/services" routerLinkActive="active">Services</a>
  <a class="nav-item nav-link" routerLink="/gallery" routerLinkActive="active">Gallery</a>
  <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
</nav>

<div class="text-center">
  <p class="text-muted">© COPYRIGHT 2018 NAILS&SPA</p>
</div>
