/*remove this section later, just testing*/
.carousel-item .d-block {
  max-height: 646px;
}
/*remove above section*/

/*Why styles section*/
.block {
  max-width: 475px;
}

.intro {
  margin-bottom: 17px;
}

/*Services styles section*/
.services {
  background-color: whitesmoke;
}

.services a {
  text-decoration: none;
}

.divider::after {
  content: '';
  display: inline-block;
  background-color: pink;
  width: 60px;
  height: 3px;
}

.service-container {
  margin-top: 35px;
}

.service-box {
  padding: 0;
}

.nails, .pedi, .mani, .wax {
  padding: 50px 25px;
}

.icon-box, .icon-body {
  padding: 0 20px;
}

.icon-box {
  width: 145px;
}

.icon-pic img {
  width: 80px;
  height: 80px;
}

.icon-title h4 {
  margin-top: 15px;
  margin-bottom: 0;
}

.nails, .mani {
  text-align: right;
}

.pedi, .wax {
  text-align: left;
}

.icon-box {
  text-align: center;
}

.nails::before, .pedi::before {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: '';
  height: 1px;
  width: 85%;
  background: black;
  transform: translateX(-50%);
}

@media only screen and (min-width: 764px) {
    /* For resolutions larger than mobile phones: */
    .nails::after, .mani::after {
      position: absolute;
      top: 50%;
      right: 0;
      content: '';
      width: 1px;
      height: 75%;
      background: black;
      transform: translateY(-50%);
    }
}

@media only screen and (max-width: 764px) {
    /* For mobile phones: */
    .mani::before, .wax:before {
      position: absolute;
      left: 50%;
      bottom: 0;
      content: '';
      height: 1px;
      width: 85%;
      background: black;
      transform: translateX(-50%);
    }
}

@media only screen and (max-width: 990px) {
    /* For mobile phones: */
    .icon-box {
      margin: 0 auto;
      text-align: center;
    }

    .icon-body {
      padding-top: 25px;
      text-align: center;
      margin: 0 auto;
    }

    .why-body {
      margin-bottom: 50px;
    }

    .nails, .pedi, .mani, .wax {
      padding: 40px 20px;
    }
}
