<section class="page title">
  <h1>temp title</h1>
</section>

<section class="why">
  <h2>Why our clients choose us</h2>

  <p>because we rock</p>
</section>

<section class="services text-center">
  <h2>Our Services</h2>

  <p>A complete range of services. You can learn more below.</p>

  <div class="row justify-content-md-center">
    <div class="col col-sm-4">
      <p>quality nails</p>
    </div>

    <div class="icon col col-sm-2">
      <p>Nails</p>
    </div>

    <div class="icon col-sm-2">
      <p>Pedicures</p>
    </div>

    <div class="col-sm-4">
      <p>quality pedicures</p>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col col-sm-4">
      <p>quality manicures</p>
    </div>

    <div class="icon col col-sm-2">
      <p>Manicures</p>
    </div>

    <div class="icon col-sm-2">
      <p>Waxing</p>
    </div>

    <div class="col-sm-4">
      <p>hair free zone</p>
    </div>
  </div>
</section>

<section class="gallery">
  <p>Check out our full portfolio!</p>
</section>
