/*remove this section later, just testing*/
.carousel-item .d-block {
  max-height: 646px;
}
/*remove above section*/

.text p {
  margin-top: 26px;
}

/*Why styles section*/
.intro {
  margin-top: 20px;
}

/*Services styles section*/
.services {
  background-color: whitesmoke;
}

.divider {
  border-bottom: 2px solid pink;
  width: 90px;
  height: 24px;
}


.service-box {
  padding: 50px 25px;
}

.icon-box, .icon-body {
  padding: 0 20px;
}

.icon-box {
  width: 145px;
}

.icon-pic img {
  width: 80px;
  height: 80px;
}

.nails::before, .pedi::before {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: '';
  height: 1px;
  width: 85%;
  background: black;
  transform: translateX(-50%);
}
