<section class="section-page-title">
  <div class="container">
    <h1 class="page-title">Pricing</h1>
  </div>
</section>

<section class="breadcrumb-section">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/services">Services</a></li>
      <li class="breadcrumb-item active" aria-current="page">Pricing</li>
    </ol>
  </nav>

</section>

<section class="section services text-center">
    <h2>Pricing</h2>

    <div class="d-flex justify-content-center">
      <div class="divider-lg"></div>
    </div>

    <div class="text">
      <p>A complete range of services. Click the buttons to learn more about each service.</p>
    </div>

    <article class="nails" id="nails" [class.open]="nails" [class.accordion]="!nails">
      <div class="service-title">
        <div class="icon-pic">
          <img src="https://us.123rf.com/450wm/lineartestpilot/lineartestpilot1603/lineartestpilot160335288/53911604-freehand-textured-cartoon-nail.jpg?ver=6" alt="nail pic">
          <h4>Nail Services</h4>
        </div>
      </div>

      <div class="container">
        <div class="pricing-subtitle">
          <h5>Nail Enhancements</h5>
          <div class="subtitle-text">
            <p>We offer two types of nail enhancements: Artificial Nails and Dipping Powder.</p>
          </div>
        </div>
        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10">
            <div class="pricing-heading">
                <h6><span>Artificial Nails</span></h6>
                <p class="heading-desc">
                  A classic system which involves applying a mixture of liquid and powder acrylic to the nails. Once cured,
                  the nails are filed to the desired shape and thickness. After which, the nails will be buffed smooth and
                  polish can be applied.
                </p>
            </div>
            <div class="header">
              <p></p>
              <p class="heading">Fill</p>
              <p class="heading">Set</p>
            </div>
            <div class="pricing-item">
              <p class="item-name">Acrylic Nails</p>
              <p class="price">$17</p>
              <p class="price">$25</p>
            </div>
            <div class="pricing-item">
              <p class="item-name">White or American Tip</p>
              <p class="price">$17</p>
              <p class="price">$27</p>
            </div>
            <div class="pricing-item">
              <p class="item-name">Solar Pink & White</p>
              <p class="price">$30</p>
              <p class="price">$35</p>
            </div>
            <div class="pricing-item">
              <p class="item-name">Solar Pink & Color</p>
              <p class="price">$35</p>
              <p class="price">$40</p>
            </div>
            <div class="pricing-item">
              <p class="item-name">Whole Nail Color Powder</p>
              <p class="price">$25</p>
              <p class="price">$40</p>
            </div>
          </div>

          <div class="pricing-subsction col-lg-10">
            <div class="pricing-heading">
              <h6><span>Dipping Powder (Nexgen)</span></h6>
              <p class="heading-desc">A nail enhancement system which first begins with an application of resin "glue" to the nail. The finger
                is then dipped into colored acrylic powder and the process is repeated until the desired thickness is achieved.
              </p>
            </div>
            <div class="pricing-item-single">
              <p class="item-name">Color Set</p>
              <p class="price">$35</p>
            </div>
            <div class="pricing-item-single">
              <p class="item-name">French or American Set</p>
              <p class="price">$40</p>
            </div>
            <div class="pricing-item-single">
              <p class="item-name">Ombre</p>
              <p class="price">$45</p>
            </div>
          </div>
        </div>

        <div class="pricing-subtitle">
          <h5>Polish</h5>
          <p class="subtitle-text">Choose from regular polish or gel polish. Both have a variety of colors and designs.</p>
        </div>
        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10">
            <div class="pricing-heading">
              <h6><span>Regular Polish</span></h6>
            </div>
            <div class="header">
              <p></p>
              <p class="heading">Hands</p>
              <p class="heading">Feet</p>
            </div>
            <div class="pricing-item">
              <p class="item-name">Polish Change</p>
              <p class="price">$7</p>
              <p class="price">$8</p>
            </div>
            <div class="pricing-item">
              <p class="item-name">French Polish</p>
              <p class="price">$9</p>
              <p class="price">$10</p>
            </div>
          </div>

          <div class="pricing-subsction col-lg-10">
            <div class="pricing-heading">
              <h6><span>Gel Polish</span></h6>
              <p class="desc">More durable and lasts longer than regular polish. While sometimes referred to as
                "no-chip" polish, proper nail care is still required to maintain the integrity of the polish.
              </p>
            </div>
            <div class="header">
              <p></p>
              <p class="heading">Whole Nail</p>
              <p class="heading">Tip Only</p>
            </div>
            <div class="pricing-item">
              <div class="item-name">
                <p>Gel Manicure</p>
                <p class="desc">Basic Spa Manicure with Gel polish</p>
              </div>
              <p class="price">$25</p>
              <p class="price">$30</p>
            </div>
            <div class="pricing-item">
              <div class="item-name">
                <p>Gel Pedicure</p>
                <p class="desc">Basic Spa Pedicure with Gel polish</p>
              </div>
              <p class="price">$35</p>
              <p class="price">$40</p>
            </div>
            <div class="pricing-item">
              <p class="item-name">Gel Polish Only</p>
              <p class="price">$15</p>
              <p class="price">$20</p>
            </div>
          </div>
        </div>

        <div class="pricing-subtitle">
          <h5>Other Services</h5>
        </div>
        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10 align-self-center">
            <div class="pricing-item-single">
              <p class="item-name">Nail Removal</p>
              <p class="price">$10</p>
            </div>
            <div class="pricing-item-single">
              <p class="item-name">Nail Repair</p>
              <p class="price">$3</p>
            </div>
            <div class="pricing-item-single">
              <p class="item-name">Nail Designs</p>
              <p class="price">Price starts at $3</p>
            </div>
          </div>
        </div>

        <nav class="next">
          <a href="javascript:void(0)" (click)="scrollTo('pedicure')"><i class="fas fa-2x fa-angle-double-down"></i></a>
        </nav>
      </div>
    </article>

    <article class="pedicure" id="pedicure" [class.open]="pedicure" [class.accordion]="!pedicure">
      <div class="service-title">
        <div class="icon-pic">
          <img src="https://media.istockphoto.com/vectors/female-legs-barefoot-with-hands-holding-the-ankle-side-view-vector-vector-id1005850290" alt="pedi pic">
          <h4>Pedicures</h4>
        </div>
      </div>
      <div class="container">
        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10">
            <div class="pricing-item-single">
              <div class="item-name">
                <p>Basic Pedicure</p>
                <p class="desc">Treatment consists of a foot soak, nail clipping and shaping, cuticle work, pumice stone/file scrub,
                  moisturizer, calf and foot massage, and polish.
                </p>
              </div>
              <p class="price">$20</p>
            </div>
            <div class="pricing-item-single">
              <div class="item-name">
                <p>Spa Pedicure</p>
                <p class="desc">A Basic Pedicure with the addition of a sugar scrub and warm towel wrap.
                </p>
              </div>
              <p class="price">$25</p>
            </div>
            <div class="pricing-item-single">
              <div class="item-name">
                <p>Peppermint Spa Pedicure</p>
                <p class="desc">A Spa Pedicure with a peppermint cream mask.</p>
              </div>
              <p class="price">$28</p>
            </div>
            <div class="pricing-item-single">
              <div class="item-name">
                <p>Paraffin Spa Pedicure</p>
                <p class="desc">A Spa Pedicure which also includes a paraffin wax treatment.</p>
              </div>
              <p class="price">$28</p>
            </div>
            <div class="pricing-item-single">
              <div class="item-name">
                <p>Deluxe Spa Pedicure</p>
                <p class="desc">A Paraffin Spa Pedicure which also includes a cream mask.</p>
              </div>
              <p class="price">$30</p>
            </div>
            <div class="pricing-item-single">
              <div class="item-name">
                <p>Hot Stone Pedicure</p>
                <p class="desc">A Spa Pedicure which also includes a hot stone massage.</p>
              </div>
              <p class="price">$28</p>
            </div>
            <div class="pricing-item-single">
              <div class="item-name">
                <p>Deluxe Hot Stone Pedicure</p>
                <p class="desc">In addition to a Hot Stone Pedicure, you will also receive a pariffin wax, cream mask, moisturizer,
                  and a sugar scrub. These four additions will be a scent of your choice.</p>
              </div>
              <p class="price">$40</p>
            </div>
            <div class="scents">
              <div class="item-name">
                <p>Deluxe Hot Stone Scents</p>
                <p class="desc">Choose only one:</p>
                <div class="scent-list">
                  <ul>
                    <li>Aloe Vera</li>
                    <li>Cucumber</li>
                    <li>Lavender</li>
                    <li>Milk & Honey</li>
                    <li>Orange</li>
                    <li>Sensual Rose</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <nav class="next">
          <a href="javascript:void(0)" (click)="scrollTo('nails')"><i class="fas fa-2x fa-angle-double-up"></i></a>
          <a href="javascript:void(0)" (click)="scrollTo('manicure')"><i class="fas fa-2x fa-angle-double-down"></i></a>
        </nav>
      </div>
    </article>

    <article class="manicure" id="manicure" [class.open]="manicure" [class.accordion]="!manicure">
      <div class="service-title">
        <div class="icon-pic">
          <img src="https://images.cdn2.stockunlimited.net/preview1300/female-hand_1319784.jpg" alt="mani pic">
          <h4>Manicures</h4>
        </div>
      </div>
      <div class="container">
        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10">
            <div class="pricing-item-single">
              <div class="item-name">
                <p>Basic Spa Manicure</p>
                <p class="desc">Treatment consists of a hand soak, nail clipping and shaping, cuticle work, moisturizer,
                   hand and forearm massage, a warm towel wrap, and polish.
                </p>
              </div>
              <p class="price">$15</p>
            </div>
            <div class="pricing-item-single">
              <div class="item-name">
                <p>Deluxe Spa Manicure</p>
                <p class="desc">A Basic Spa Manicure treatment which also includes a sugar scrub and paraffin wax treatment.</p>
              </div>
              <p class="price">$20</p>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article class="waxing" id="waxing" [class.open]="waxing" [class.accordion]="!waxing">
      <div class="service-title">
        <div class="icon-pic">
          <img src="http://laoblogger.com/images/clip-art-honey-2.jpg" alt="wax pic">
          <h4>Waxing</h4>
        </div>
      </div>
      <div class="container">
        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10">
            <div class="pricing-item-single">
              <p class="item-name">Eyebrows</p>
              <p class="price">$8</p>
            </div>
            <div class="pricing-item-single">
              <p class="item-name">Lip</p>
              <p class="price">$6</p>
            </div>
            <div class="pricing-item-single">
              <p class="item-name">Chin</p>
              <p class="price">$8</p>
            </div>
            <div class="pricing-item-single">
              <div class="item-name">
                <p>Face</p>
                <p class="desc">Forehead, eyebrows, cheeks, sideburns, lip, and chin.</p>
              </div>
              <p class="price">$30</p>
            </div>
            <div class="pricing-item-single">
              <p class="item-name">Underarms</p>
              <p class="price">Price starts at $15</p>
            </div>
            <div class="pricing-item-single">
              <p class="item-name">Half Arms</p>
              <p class="price">Price starts at $20</p>
            </div>
            <div class="pricing-item-single">
              <p class="item-name">Full Arms</p>
              <p class="price">Price starts at $35</p>
            </div>
            <div class="pricing-item-single">
              <p class="item-name">Half Legs</p>
              <p class="price">Price starts at $35</p>
            </div>
            <div class="pricing-item-single">
              <p class="item-name">Full Legs</p>
              <p class="price">Price starts at $50</p>
            </div>
            <div class="pricing-item-single">
              <p class="item-name">Back</p>
              <p class="price">$35</p>
            </div>
          </div>
        </div>
        <nav class="next">
          <a href="javascript:void(0)" (click)="scrollTo('manicure')"><i class="fas fa-2x fa-angle-double-up"></i></a>
          <a href="javascript:void(0)" (click)="scrollTo('kids')"><i class="fas fa-2x fa-angle-double-down"></i></a>
        </nav>
      </div>
    </article>

    <article class="kids" id="kids" [class.open]="kids" [class.accordion]="!kids">
      <div class="service-title">
        <div class="icon-pic">
          <img src="http://laoblogger.com/images/clip-art-honey-2.jpg" alt="wax pic">
          <h4>Just for Kids</h4>
        </div>
      </div>
      <div class="container">
        <p class="subtitle-text">Kids can enjoy a day at the spa too! Must be 10 years of age and under.</p>

        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10">
            <div class="pricing-item-single">
              <div class="item-name">
                <p>Basic Spa Manicure</p>
              </div>
              <p class="price">$10</p>
            </div>
            <div class="pricing-item-single">
              <div class="item-name">
                <p>Basic Spa Pedicure</p>
              </div>
              <p class="price">$20</p>
            </div>
            <div class="header">
              <p></p>
              <p class="heading">Hands</p>
              <p class="heading">Feet</p>
            </div>
            <div class="pricing-item">
              <p class="item-name">Nail Polish</p>
              <p class="price">$4</p>
              <p class="price">$6</p>
            </div>
          </div>
        </div>

        <nav class="next">
          <a href="javascript:void(0)" (click)="scrollTo('waxing')"><i class="fas fa-2x fa-angle-double-up"></i></a>
        </nav>
      </div>
    </article>

    <nav class="pills-nav">
      <a href="javascript:void(0)" (click)="scrollTo('nails')">
        <div class="nails">
          <img src="https://us.123rf.com/450wm/lineartestpilot/lineartestpilot1603/lineartestpilot160335288/53911604-freehand-textured-cartoon-nail.jpg?ver=6" alt="nail pic">
          <p>Nails</p>
        </div>
      </a>
      <a href="javascript:void(0)" (click)="scrollTo('pedicure')">
        <div class="pedicure">
          <img src="https://media.istockphoto.com/vectors/female-legs-barefoot-with-hands-holding-the-ankle-side-view-vector-vector-id1005850290" alt="pedi pic">
          <p>Pedicure</p>
        </div>
      </a>
      <a href="javascript:void(0)" (click)="scrollTo('manicure')">
        <div class="manicure">
          <img src="https://images.cdn2.stockunlimited.net/preview1300/female-hand_1319784.jpg" alt="mani pic">
          <p>Manicure</p>
        </div>
      </a>
      <a href="javascript:void(0)" (click)="scrollTo('waxing')">
        <div class="waxing">
          <img src="http://laoblogger.com/images/clip-art-honey-2.jpg" alt="wax pic">
          <p>Waxing</p>
        </div>
      </a>
      <a href="javascript:void(0)" (click)="scrollTo('kids')">
        <div class="kids">
          <img src="http://laoblogger.com/images/clip-art-honey-2.jpg" alt="wax pic">
          <p>Kids</p>
        </div>
      </a>
    </nav>
</section>

<!--
<button class="to-top hidden" (click)="topFunction()" id="myBtn" title="Go to top">
  <i class="fas fa-2x fa-angle-up"></i>
  To Top
</button>
-->
