<section class="section-page-title">
  <h1 class="page-title">Pricing</h1>
</section>

<section class="breadcrumb-section">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/services">Services</a></li>
      <li class="breadcrumb-item active" aria-current="page">Pricing</li>
    </ol>
  </nav>

</section>

<section class="section services text-center">
  <h2>Pricing</h2>

  <p>we offer competitive pricing for our services</p>

  <article class="nails">

  </article>

  <article class="pedicure">

  </article>

  <article class="manicure">

  </article>

  <article class="waxing">

  </article>
</section>
