h2, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.pedicure, .waxing {
  background: whitesmoke;
}

article {
  padding: 35px 0;
}

.pricing-title {
  margin: 0 auto 30px auto;
  position: relative;
}

.pricing-title::after {
  position: absolute;
  content: '';
  height: 3px;
  width: 70%;
  background: pink;
  transform: translate(-50%);
  top: 50%;
  z-index: 1;
}

.pricing-heading span {
  padding-bottom: 6px;
  border-bottom: 2px solid pink;
}

.pricing-subtitle {
  margin-top: 30px;
  margin-bottom: 35px;
}

.subtitle-text {
  margin: 20px auto 0 auto;
  max-width: 75%;
}

.pricing-subsction {
  margin-bottom: 30px;
}

.pricing-heading {
  margin-bottom: 20px;
  text-align: left;
}

.item-name {
  font-size: 22px;
  text-align: left;
  justify-self: start;
  align-self: center;
}

.pricing-item {
  column-gap: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.pricing-item-single {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 3fr 1fr;
}

.header {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 3fr 1fr 1fr;
}

.kids .header {
  position: relative;
  top: 24px;
}

.pricing-item, .pricing-item-single, .scents {
  padding: 25px 0;
}

.price {
  font-size: 24px;
  align-self: center;
}

.heading-desc {
  font-size: 16px;
  margin-top: 16px;
  color: #999999;
}

.desc {
  font-size: 16px;
  margin-top: 10px;
  color: #999999;
}

.divider {
  margin-top: 5px;
  height: 2px;
  width: 3rem;
  background-color: pink;
}

.nails .pricing-item,
.nails .pricing-item-single,
.manicure .pricing-item-single,
.kids .pricing-item,
.kids .pricing-item-single {
  border-bottom: 1px solid #e7e7e7;
}

.pedicure .pricing-item-single,
.pedicure .scents,
.waxing .pricing-item-single {
  border-bottom: 1px solid #cecece;
}

.scent-list {
  display: grid;
}

.scent-list ul {
  display: inline-block;
  padding-left: 0;
  margin: 0 auto;
}

/* Pills navigation */
.pills-box {
  position: sticky;
  top: 57px;
  z-index: 2;
  background: white;
  margin-top: 20px;
}

.pills {
  max-width: 1140px;
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-pills {
  margin: 0 !important;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.pills .nav-link {
  border-radius: 0;
  padding: 2px 16px;
  border: 1px solid lightgrey;
}

.pills .nav-item:not(:last-child) {
  margin-right: -1px;
}

.pills .active {
  border-color: dodgerblue;
}

/* Back to top button */
.fa-angle-up {
  display: block;
}

.to-top.hidden {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 13px;
  border: none;
  outline: none;
  background-color: pink;
  color: black;
  cursor: pointer;
  padding: 8px 8px 12px 8px;
  border-radius: 8px;
  transform: scale(0);
  transition: .2s;
}

.to-top.show {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 13px;
  border: none;
  outline: none;
  background-color: pink;
  color: black;
  cursor: pointer;
  padding: 8px 8px 12px 8px;
  border-radius: 8px;
  transform: scale(1);
  transition: .2s;
}

/* For Widescreens: */
@media only screen and (min-width: 1200px) {
    article {
      padding: 60px 0;
    }

    .item-name {
      font-size: 24px;
    }

    .price {
      font-size: 32px;
      font-weight: 450;
    }
}

/* For screens tablets and smaller
   For the Spa scents section */
@media only screen and (min-width: 768px) {
  .scent-list {
    display: block;
  }

  .scent-list ul {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding-left: 0;
  }

  .scent-list li {
    padding-left: 35%;
  }
}

/* For nav pills */
@media only screen and (max-width: 767px) {
  .container.pills {
    position: sticky;
    top: 58px;
    z-index: 9;
    background: white;
  }

  .nav-pills {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .pills .nav-link {
    padding: 0;
  }

  .pills .nails {
    grid-column: 1 / 3;
  }

  .pills .pedi {
    grid-column: 3 / 5;
  }

  .pills .mani {
    grid-column: 5 / 7;
  }
  .pills .wax {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
  .pills .kids {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
  }

  .pills .wax, .pills .kids {
    margin-top: -1px;
  }
}
