h2, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

/* section titles */
.service-title {
  margin-bottom: 35px;
}

.service-title .icon-pic {
  padding-top: 50px;
}

.service-title h4 {
  margin-top: 10px;
}

.icon-pic img {
  width: 80px;
  height: 80px;
}

/* service content */
.pricing-heading span {
  padding-bottom: 6px;
  border-bottom: 2px solid pink;
}

.pricing-subtitle {
  margin-bottom: 35px;
}

.subtitle-text {
  margin: 20px auto 0 auto;
  max-width: 75%;
}

.pricing-subsction {
  margin-bottom: 30px;
}

.pricing-heading {
  margin-bottom: 20px;
  text-align: left;
}

.item-name {
  font-size: 22px;
  text-align: left;
  justify-self: start;
  align-self: center;
}

.pricing-item {
  column-gap: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.pricing-item-single {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 3fr 1fr;
}

.header {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 3fr 1fr 1fr;
}

.kids .header {
  position: relative;
  top: 24px;
}

.pricing-item, .pricing-item-single, .scents {
  padding: 25px 0;
}

.price {
  font-size: 24px;
  align-self: center;
}

.heading-desc {
  font-size: 16px;
  margin-top: 16px;
  color: #999999;
}

.desc {
  font-size: 16px;
  margin-top: 10px;
  color: #999999;
}

.divider {
  margin-top: 5px;
  height: 2px;
  width: 3rem;
  background-color: pink;
}

.nails .pricing-item,
.nails .pricing-item-single,
.manicure .pricing-item-single,
.kids .pricing-item,
.kids .pricing-item-single {
  border-bottom: 1px solid #e7e7e7;
}

.pedicure .pricing-item-single,
.pedicure .scents,
.waxing .pricing-item-single {
  border-bottom: 1px solid #cecece;
}

.scent-list {
  display: grid;
}

.scent-list ul {
  display: inline-block;
  padding-left: 0;
  margin: 0 auto;
}

/* Prev, Next Button */
article {
  position: relative;
}

.next {
  position: sticky;
  bottom: 10px;
  text-align: right;
}

.next a {
  display: block;
}

.fa-angle-double-up {
  padding-bottom: 12px;
  color: black;
  opacity: .5;
}

.fa-angle-double-down {
  color: black;
  opacity: .5;
}

@media only screen and (max-width: 991.5px) {
  .fa-angle-double-up,
  .fa-angle-double-down {
    transform: scale(.75);
  }
}

@media only screen and (max-width: 449px) {
  .fa-angle-double-up,
  .fa-angle-double-down {
    display: none;
  }
}

/* Pills Navigation */
.pills-nav {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  background: white;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: sticky;
  bottom: 0;
  font-size: 12px;
}

.pills-nav div:not(:last-child){
  border-right: 2px solid red;
}

.pills-nav img {
  width: 100%;
  padding: 2px 18px 0 18px;
}

@media only screen and (min-width: 500px) {
  .pills-nav {
    display: none;
  }
}

/* Accordian */
/*
article > * {
  position: relative;
}

.nails.open,
.pedicure.open,
.manicure.open,
.waxing.open,
.kids.open {
  margin-top: 35px;
  padding-bottom: 35px;
  max-height: 50000px;
  opacity: 1;
  transition: max-height 1s, padding-bottom 1s, margin-top 1s, opacity 1s .25s;
}

.accordion .container {
  padding: 0 15px !important;
}

.accordion {
  max-height: 0;
  opacity: 0;
  padding: 0px;
  overflow: hidden;
  transition: padding .8s, max-height .8s, opacity .8s .25s;
}
*/

/* Back to top button */
.fa-angle-up {
  display: block;
}

.to-top.hidden {
  position: fixed;
  bottom: 0px;
  right: 30px;
  z-index: 99;
  font-size: 13px;
  border: none;
  outline: none;
  background-color: pink;
  color: black;
  cursor: pointer;
  padding: 8px 8px 12px 8px;
  border-radius: 8px;
  transform: scale(0);
  transition: .2s;
}

.to-top.show {
  position: fixed;
  bottom: 0px;
  right: 30px;
  z-index: 99;
  font-size: 13px;
  border: none;
  outline: none;
  background-color: pink;
  color: black;
  cursor: pointer;
  padding: 8px 8px 12px 8px;
  border-radius: 8px;
  transform: scale(1);
  transition: .2s;
}

/* For Widescreens: */
@media only screen and (min-width: 1200px) {
    .nails.open,
    .pedicure.open,
    .manicure.open,
    .waxing.open,
    .kids.open {
      margin-top: 60px;
      padding-bottom: 60px;
    }

    .item-name {
      font-size: 24px;
    }

    .price {
      font-size: 32px;
      font-weight: 450;
    }
}

/* For screens tablets and smaller
   For the Spa scents section */
@media only screen and (min-width: 768px) {
  .scent-list {
    display: block;
  }

  .scent-list ul {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding-left: 0;
  }

  .scent-list li {
    padding-left: 35%;
  }
}
