<section class="section-page-title">
  <div class="container">
    <h1 class="page-title">Pricing</h1>
  </div>
</section>

<section class="breadcrumb-section">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/services">Services</a></li>
      <li class="breadcrumb-item active" aria-current="page">Pricing</li>
    </ol>
  </nav>

</section>

<section class="section services text-center">
    <h2>Pricing</h2>

    <div class="d-flex justify-content-center">
      <div class="divider-lg"></div>
    </div>

    <div class="text">
      <p>A complete range of services. You can learn more below.</p>
    </div>

    <article class="nails">
      <div class="container">
        <div class="pricing-title">
          <h4>Nail Services</h4>
        </div>
        <div class="pricing-subtitle">
          <h5>Nail Enhancements</h5>
        </div>
        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10">
            <div class="pricing-heading row">
              <div class="col-6 text-left">
                <h6>Acrylic Nails</h6>
                <div class="divider"></div>
              </div>
              <div class="col">
                <p>Whole Nail</p>
              </div>
              <div class="col">
                <p>Tip Only</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-6 text-left">
                <p>White or American Tip</p>
              </div>
              <div class="price col">
                <p>$25</p>
              </div>
              <div class="price col">
                <p>$17</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-6 text-left">
                <p>Solar Pink & White</p>
              </div>
              <div class="price col">
                <p>$35</p>
              </div>
              <div class="price col">
                <p>$30</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-6 text-left">
                <p>Solar Pink & Color</p>
              </div>
              <div class="price col">
                <p>$40</p>
              </div>
              <div class="price col">
                <p>$35</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-6 text-left">
                <p>Whole Nail Color Powder</p>
              </div>
              <div class="price col">
                <p>$40</p>
              </div>
              <div class="price col">
                <p>$25</p>
              </div>
            </div>
          </div>

          <div class="pricing-subsction col-lg-10">
            <div class="pricing-heading row">
              <div class="item-name col text-left">
                <h6>Dipping Powder (Nexgen)</h6>
                <div class="divider"></div>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Color Set</p>
              </div>
              <div class="price col">
                <p>$35</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>French or American Set</p>
              </div>
              <div class="price col">
                <p>$40</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Ombre</p>
              </div>
              <div class="price col">
                <p>$45</p>
              </div>
            </div>
          </div>
        </div>

        <div class="pricing-subtitle">
          <h5>Polish</h5>
        </div>
        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10">
            <div class="pricing-heading row">
              <div class="col-6 text-left">
                <h6>Regular Polish</h6>
                <div class="divider"></div>
              </div>
              <div class="col">
                <p>Hands</p>
              </div>
              <div class="col">
                <p>Feet</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-6 text-left">
                <p>Polish Change</p>
              </div>
              <div class="price col">
                <p>$7</p>
              </div>
              <div class="price col">
                <p>$8</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-6 text-left">
                <p>French Polish</p>
              </div>
              <div class="price col">
                <p>$9</p>
              </div>
              <div class="price col">
                <p>$10</p>
              </div>
            </div>
          </div>

          <div class="pricing-subsction col-lg-10">
            <div class="pricing-heading row">
              <div class="col-6 text-left">
                <h6>Gel Polish</h6>
                <div class="divider"></div>
              </div>
              <div class="col">
                <p>Whole Nail</p>
              </div>
              <div class="col">
                <p>Tip Only</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-6 text-left">
                <p>Hand</p>
                <p class="desc">This service includes a Basic Manicure Treatment</p>
              </div>
              <div class="price col">
                <p>$25</p>
              </div>
              <div class="price col">
                <p>$30</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-6 text-left">
                <p>Feet</p>
                <p class="desc">This service includes a Basic Pedicure Treatment</p>
              </div>
              <div class="price col">
                <p>$35</p>
              </div>
              <div class="price col">
                <p>$40</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-6 text-left">
                <p>Polish Change Only</p>
              </div>
              <div class="price col">
                <p>$15</p>
              </div>
              <div class="price col">
                <p>$20</p>
              </div>
            </div>
          </div>
        </div>

        <div class="pricing-subtitle">
          <h5>Other Services</h5>
        </div>
        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10 align-self-center">
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Nail Removal</p>
              </div>
              <div class="price col">
                <p>$10</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Nail Repair</p>
              </div>
              <div class="price col">
                <p>$3</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Nail Designs</p>
              </div>
              <div class="price col">
                <p>$5 and up</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article class="pedicure">
      <div class="container">
        <div class="pricing-title">
          <h4>Pedicures</h4>
        </div>
        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10">
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Basic Spa Pedicure</p>
                <p class="desc">Treatment consists of a foot soak, nail clipping and shaping, cuticle work, pumice stone/file scrub,
                  moisturizer, calf and foot massage, a warm towel wrap, and polish.
                </p>
              </div>
              <div class="price col">
                <p>$25</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Paraffin Spa Pedicure</p>
                <p class="desc">A Basic Pedicure which also includes a paraffin wax treatment.</p>
              </div>
              <div class="price col">
                <p>$28</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Peppermint Spa Pedicure</p>
                <p class="desc">A basic pedicure with a peppermint cream mask.</p>
              </div>
              <div class="price col">
                <p>$28</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Hot Stone Pedicure</p>
                <p class="desc">A basic pedicure which also includes a hot stone massage.</p>
              </div>
              <div class="price col">
                <p>$28</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Deluxe Spa Pedicure</p>
                <p class="desc">A paraffin pedicure which also includes a cream mask and warm towel wrap.</p>
              </div>
              <div class="price col">
                <p>$30</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Deluxe Hot Stone Pedicure</p>
                <p class="desc">In addition to the hot stone pedicure, you will also receive a pariffin wax, cream mask, moisturizer, and a scented sugar scrub of your choice.</p>
              </div>
              <div class="price col">
                <p>$40</p>
              </div>
            </div>
            <div class="scents row">
              <div class="item-name col text-left">
                <p>Sugar Scrub Scents</p>
                <ul>
                  <li>Aloe Vera</li>
                  <li>Cucumber</li>
                  <li>Lavender</li>
                  <li>Milk & Honey</li>
                  <li>Orange</li>
                  <li>Sensual Rose</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article class="manicure">
      <div class="container">
        <div class="pricing-title">
          <h4>Manicures</h4>
        </div>
        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10">
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Basic Manicure</p>
                <p class="desc">Treatment consists of a hand soak, nail clipping and shaping, cuticle work, moisturizer,
                   hand and forearm massage, a warm towel wrap, and polish.
                </p>
              </div>
              <div class="price col">
                <p>$15</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Deluxe Manicure</p>
                <p class="desc">A basic manicure treatment which also includes a sugar scrub and paraffin wax treatment.</p>
              </div>
              <div class="price col">
                <p>$20</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article class="waxing">
      <div class="container">
        <div class="pricing-title">
          <h4>Waxing</h4>
        </div>
        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10">
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Eyebrows</p>
              </div>
              <div class="price col">
                <p>$8</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Lip</p>
              </div>
              <div class="price col">
                <p>$6</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Chin</p>
              </div>
              <div class="price col">
                <p>$8</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Face</p>
              </div>
              <div class="price col">
                <p>$30</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Underarms</p>
              </div>
              <div class="price col">
                <p>$15 and up</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Half Arms</p>
              </div>
              <div class="price col">
                <p>$20 and up</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Full Arms</p>
              </div>
              <div class="price col">
                <p>$35 and up</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Half Legs</p>
              </div>
              <div class="price col">
                <p>$35 and up</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Full Legs</p>
              </div>
              <div class="price col">
                <p>$50 and up</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Back</p>
              </div>
              <div class="price col">
                <p>$35</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    <article class="kids">
      <div class="container">
        <div class="pricing-title">
          <h4>Just For Kids</h4>
          <p>Kids can enjoy a day at the spa too! Must be 10 years of age and under</p>
        </div>
        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10">
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Basic Manicure</p>
                <p class="desc">Treatment consists of a hand soak, nail clipping and shaping, cuticle work, moisturizer,
                   hand and forearm massage, a warm towel wrap, and polish.
                </p>
              </div>
              <div class="price col">
                <p>$10</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-9 text-left">
                <p>Basic Pedicure</p>
                <p class="desc">Treatment consists of a foot soak, nail clipping and shaping, cuticle work, pumice stone/file scrub,
                  moisturizer, calf and foot massage, a warm towel wrap, and polish.
                </p>
              </div>
              <div class="price col">
                <p>$20</p>
              </div>
            </div>
            <div class="pricing-heading row">
              <div class="col-6 text-left">
              </div>
              <div class="col">
                <p>Hands</p>
              </div>
              <div class="col">
                <p>Feet</p>
              </div>
            </div>
            <div class="pricing-item row">
              <div class="item-name col-6 text-left">
                <p>Nail Polish</p>
              </div>
              <div class="price col">
                <p>$4</p>
              </div>
              <div class="price col">
                <p>$6</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
</section>
