:host >>> .section-page-title {
  background-color: mistyrose;
}
/*remove the styles above when done, only used for visual*/

:host >>> .breadcrumb > li + li:before {
  content: ">";
}

:host >>> .section {
  padding: 50px 0;
}

:host >>> .section-page-title {
  padding: 80px 0;
}

:host >>> .page-title {
  margin: 0 auto;
  max-width: 1160px;
}

:host >>> nav .breadcrumb {
  margin: 0 auto;
  max-width: 1200px;
}

:host >>> .breadcrumb-section {
  background-color: #e9ecef;
}

:host >>> .btn {
  border-radius: 25px;
  padding: 10px 32px;
  margin-top: 20px;
}

:host >>> .divider-lg {
  border-bottom: 2px solid pink;
  width: 90px;
  height: 24px;
}

:host >>> h2 {
  margin: 0;
}

:host >>> .intro {
  margin: 30px auto 0;
}

:host >>> .text {
  max-width: 75%;
  margin: 0 auto;
}

:host >>> .text p {
  margin-top: 32px;
}

:host >>> a {
  text-decoration: none;
}

#contact-bar {
  list-style: none;
  margin: 0;
  padding: 0;
}

#contact-bar li {
  display: inline-block;
}

#open {
  margin-left: 60px;
}

#mon {
  margin-left: 10px;
}

#sat, #sun {
  margin-left: 30px;
}

/* Contact box */
.contact-box {
  display: none;
}

.outer {
  padding: 0 15px;
}

.inner {
  margin: 0 auto;
  max-width: 1200px;
}

/* For laptops: */
@media only screen and (max-width: 991.5px) {
    .outer {
      display: none;
    }

    /* Call us box */
    .contact-box {
      display: block;
      position: fixed;
      top: 50px;
      right: 0;
      padding: 15px;
      font-size: 14px;
      background: white;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      transition: transform .5s, opacity .5s, visibility .5s;
    }

    .show {
      opacity: 1;
      visibility: visible;
      transform: translateY(10px);
      transition: .5s;
    }

    .contact-aside {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }

    .call {
      margin-bottom: 15px;
    }

    /* Call us sidebar button */
    .contact-button {
      position: fixed;
      display: block;
      top: 8px;
      right: 0;
      width: 43px;
      height: 43px;
      cursor: pointer;
      z-index: 9;
    }

    span {
      position: absolute;
      content: '';
      width: 6px;
      height: 6px;
      top: 50%;
      left: 50%;
      margin-top: -3px;
      margin-left: -3px;
      border-radius: 50%;
      background-color: #808080;
      transition: .5s;
    }

    span::before {
      position: absolute;
      bottom: 100%;
      margin-bottom: 3px;
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #808080;
      transition: .5s;
    }

    span::after {
      position: absolute;
      top: 100%;
      margin-top: 3px;
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #808080;
      transition: .5s;
    }

    span.active::before {
      transform: translateY(18px);
      transition: .5s;
    }

    span.active::after {
      transform: translateY(-18px);
      transition: .5s;
    }

    .active {
      transform: scale(.7);
      transition: .5s;
    }
}

/* For laptops: */
@media only screen and (min-width: 768px) {
    :host >>>  .section {
      padding: 85px 0;
    }
}

/* For desktops: */
@media only screen and (min-width: 992px) {
    :host >>>  .section {
      padding: 100px 0;
    }
}

/* For Widescreens: */
@media only screen and (min-width: 1200px) {
    :host >>>  .section {
      padding: 115px 0;
    }
}
