<div class="outer">
  <div class="inner">
    <ul id="contact-bar">
      <li id="call"><b>Call Us: </b><a href="tel:(972) 952-0232">(972) 952-0232</a></li>
      <li id="open"><b>Opening Hours:</b></li>
      <li id="mon">Mon-Fr: 10 am &ndash; 7:30 pm</li>
      <li id="sat">Sat: 9:30 am &ndash; 7:30 pm</li>
      <li id="sun">Sun: 12 pm &ndash; 6 pm</li>
    </ul>
  </div>
</div>

<div class="contact-button" (click)="contactBox()">
  <span [class.active]="show"></span>
</div>

<div class="contact-box" [class.show]="this.sidebar.show">
  <ul class='contact-aside'>
    <li class="call"><strong>Call Us: </strong><a href="tel:(972) 952-0232">(972) 952-0232</a></li>
    <li class="open"><strong>Opening Hours:</strong></li>
    <li class="mon">Mon-Fr: 10 am &ndash; 7:30 pm</li>
    <li class="sat">Sat: 9:30 am &ndash; 7:30 pm</li>
    <li class="sun">Sun: 12 pm &ndash; 6 pm</li>
  </ul>
</div>

<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
<app-footer-bar></app-footer-bar>
