.outer {
  background-color: white;
  position: sticky;
  top: 0px;  
  width: 100%;
}

.inner {
  margin: 0 auto;
  max-width: 1200px;
}

#logo {
  width: 30px;
  height: 30px;
}

.nav.home {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav.navbar {
  margin: 0 auto;
}

.bar1, .bar2, .bar3 {
  width: 28px;
  height: 3px;
  border-radius: 20px;
  background-color: #808080;
  margin: 6px 0;
  transition: 0.4s;
}

.navbar {
  padding: 8px 0;
}

.services {
  padding-right: 0;
}

.dropdown-toggle {
  padding-left: 6px;
}

.nav-link.nav-item {
  margin-left: 45px;
}

.nav.sidebar {
  display: none;
}

@media only screen and (max-width: 991.5px) {
  .active {
    background: pink;
  }

  .nav {
    display: none;
  }

/* Sliding sidebar animation */
  .nav.sidebar {
    background-color: white;
    position: fixed;
    width: 0;
    height: 100vh;
    display: block;
    position: absolute;
    transition: all 1s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
  }

  .nav-item.nav-link {
    margin: 0;
  }

/* Button animation */
  .menu-icon.open {
    transform: rotate(180deg);
    transition: all 1s;
  }

  .menu-icon.closed {
    transform: rotate(0);
    transition: all 1s;
  }

  .bar1.open {
    transform: rotate(-45deg) translate(-6px, 6px);
    transition: all 1s;
  }

  .bar1.closed {
    transform: rotate(0) translate(0, 0);
    transition: all 1s;
  }

  .bar2.open {
    opacity: 0;
    transition: all 1s;
  }

  .bar2.closed {
    opacity: 1;
    transition: all 1s;
  }

  .bar3.open {
     transform: rotate(45deg) translate(-6px, -7px);
     transition: all 1s;
  }

  .bar3.closed {
     transform: rotate(0) translate(0, 0);
     transition: all 1s;
  }

  /* Dropdown menu for sidebar */
  .sidebar .dropdown-toggle {
    position: absolute;
    transform: translate(210px);
  }

  .sidebar .nav-item:hover, .sidebar .dropdown-item:hover {
    background: pink;
    transition: all .6s ease-out;
  }

  .sidebar .nav-item:first-child {
    margin-top: 22px;
  }

  .sidebar .nav-item {
    margin-top: 10px;
  }

  .sidebar .dropdown-item.closed {
    height: 0;
    border: 0;
    margin-top: 0;
    padding: 0 24px;
    overflow-y: hidden;
    transition: all 1s;
  }

  .sidebar .dropdown-item.open {
    height: 40px;
    margin-top: 10px;
    border: 0;
    padding: 8px 32px;
    transition: all 1s;
  }
}
