.outer {
  background-color: white;
}

.inner {
  margin: 0 auto;
  max-width: 1200px;
}

#logo {
  width: 30px;
  height: 30px;
}

.bar1, .bar2, .bar3 {
  width: 28px;
  height: 3px;
  border-radius: 20px;
  background-color: #808080;
  margin: 6px 0;
  transition: 0.4s;
}

.navbar {
  padding: 8px 0;
}

.services {
  padding-right: 0;
}

.dropdown-toggle {
  padding-left: 6px;
}

.nav-link.nav-item {
  margin-left: 45px;
}

.nav.sidebar {
  display: none;
}

@media only screen and (max-width: 991.5px) {
  .active {
    background: pink;
  }

  .nav {
    display: none;
  }

  .nav.sidebar {
    background-color: white;
    position: fixed;
    width: 250px;
    height: 100vh;
    display: block;
    position: absolute;
    transition: all 1s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
  }

  .nav-item.nav-link {
    margin: 0;
    border: 1px solid red;
  }

  .sidebar .dropdown {
    position: absolute;
    transform: translate(210px, -41px);
  }

  .sidebar .dropdown-menu {
    transform: translate(-205px, 0px);
    padding: 0;
    border: none;
  }
}
