<section class="section-page-title">
  <div class="container">
    <h1 class="page-title">Services</h1>
  </div>
</section>

<section class="breadcrumb-section">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Services</li>
    </ol>
  </nav>

</section>

<!--Why clients choose us section-->
<section class="section why">
  <div class="container">
    <div class="row justify-content-center">
      <div class="why-body col-lg-6">
        <div class="block">
          <h2>Why our clients choose us</h2><br>

          <span class="divider"></span>

          <p class="intro">We take pride in what we do and believe our work speaks for itself.</p>
          <p>We have a reputation for offering high quality service at a competitive price. </p>
        </div>
      </div>

      <div class="why-pic col-lg-6">
        <img class="w-100" src="https://i.pinimg.com/originals/ab/c2/cf/abc2cfa39ee1f8aebba6a605870cccf7.png" alt="why image">
      </div>
    </div>
  </div>
</section>


<section class="section services text-center">
  <div class="container">
    <h2>Our Services</h2>

    <div class="d-flex justify-content-center">
      <div class="divider-lg"></div>
    </div>

    <div class="text">
      <p>We offer a complete range of nail services including dipping powders, gel polish, nail repair and more. Click the pictures below for additional information and pricing.</p>
    </div>

    <div class="content">
      <div class="row justify-content-center">
        <a class="col-md-6 nails" routerLink="/pricing">
          <article>
            <div class="icon-pic">
              <img src="https://us.123rf.com/450wm/lineartestpilot/lineartestpilot1603/lineartestpilot160335288/53911604-freehand-textured-cartoon-nail.jpg?ver=6" alt="nail pic">
            </div>
            <div class="icon-title">
              <h4>Nails</h4>
            </div>
            <p>For nail enhancements we offer acrylic nails and dipping powders. </p>
          </article>
        </a>

        <a class="col-md-6 pedi" routerLink="/pricing">
          <article>
            <div class="icon-pic">
              <img src="https://media.istockphoto.com/vectors/female-legs-barefoot-with-hands-holding-the-ankle-side-view-vector-vector-id1005850290" alt="pedi pic">
            </div>
            <div class="icon-title">
              <h4>Pedicures</h4>
            </div>
            <p>All pedicures include a sugar scrub and gel nail polish. </p>
          </article>
        </a>
      </div>

      <div class="row justify-content-center">
        <a class="col-md-6 mani" routerLink="/pricing">
          <article>
            <div class="icon-pic">
              <img src="https://images.cdn2.stockunlimited.net/preview1300/female-hand_1319784.jpg" alt="mani pic">
            </div>
            <div class="icon-title">
              <h4>Manicures</h4>
            </div>
            <p>Manicures include a hand soak, cuticle work, hand and arm massage, a warm towel wrap and gel nail polish.</p>
          </article>
        </a>

        <a class="col-md-6 wax" routerLink="/pricing">
          <article>
            <div class="icon-pic">
              <img src="http://laoblogger.com/images/clip-art-honey-2.jpg" alt="wax pic">
            </div>
            <div class="icon-title">
              <h4>Waxing</h4>
            </div>
            <p>Wax any part of your face, arms, legs, or back.</p>
          </article>
        </a>
      </div>
    </div>
  </div>
</section>
