/*Why styles section*/
.block {
  max-width: 475px;
}

.intro {
  margin-bottom: 17px;
}

/*Services styles section*/
.services {
  background-color: whitesmoke;
}

.icon-pic img {
  width: 80px;
  height: 80px;
}

.icon-title h4 {
  margin-top: 30px;
  margin-bottom: 0;
}

article p {
  margin-top: 15px;
  margin-bottom: 0;
}

.nails, .pedi {
  border-bottom: .5px solid black;
}

.nails, .mani {
  border-right: .5px solid black;
}

.content {
  margin-top: 60px;
}

.divider {
  margin: 0 auto;
}

article {
  padding: 40px 32px;
}

article:hover {
  background: white;
}

@media only screen and (max-width: 812px) {
    /* For mobile phones: */
    article {
        padding: 20px;
    }

    .nails, .pedi, .mani {
      border: none;
    }
}

@media only screen and (max-width: 990px) {
    /* For mobile phones: */
    .why-body {
      margin-bottom: 50px;
    }
}
