<body (click)="this.sidebar.closeContactBox()">

<section class="section-page-title">
  <div class="container">
    <h1 class="page-title">Services</h1>
  </div>
</section>

<section class="section services text-center">
    <h2>Our Services</h2>

    <div class="d-flex justify-content-center">
      <div class="divider-lg"></div>
    </div>

    <div class="text">
      <p>A complete range of services. Check out each section below to learn more about the services we provide.</p>
    </div>

    <article class="nails" id="nails">
      <div class="service-title">
        <div class="icon-pic">
          <img src="/../../assets/images/nails.png" alt="nail pic">
        </div>
        <h4>Nail Services</h4>
      </div>

      <div class="container">
        <div class="pricing-subtitle">
          <h5>Nail Enhancements</h5>
          <div class="subtitle-text">
            <p>We offer two types of nail enhancements: Artificial Nails and Dipping Powder.</p>
          </div>
        </div>
        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10">
            <div class="pricing-heading">
                <h6><span>Artificial Nails</span></h6>
                <p class="heading-desc">
                  A classic system which involves applying a mixture of liquid and powder acrylic to the nails. Once cured,
                  the nails are filed to the desired shape and thickness. After which, the nails will be buffed smooth and
                  polish can be applied.
                </p>
            </div>
            <div class="header">
              <p></p>
              <p class="heading">Fill</p>
              <p class="heading">Set</p>
            </div>
            <div class="pricing-item" *ngFor="let nail of nails">
              <p class="item-name">{{nail.name}}</p>
              <p class="price">{{nail.fill}}</p>
              <p class="price">{{nail.set}}</p>
            </div>
          </div>

          <div class="pricing-subsction col-lg-10">
            <div class="pricing-heading">
              <h6><span>Dipping Powder (Nexgen)</span></h6>
              <p class="heading-desc">A nail enhancement system which first begins with an application of resin "glue" to the nail. The finger
                is then dipped into colored acrylic powder and the process is repeated until the desired thickness is achieved.
              </p>
            </div>
            <div class="pricing-item-single" *ngFor="let dip of dips">
              <p class="item-name">{{dip.name}}</p>
              <p class="price">{{dip.price}}</p>
            </div>
          </div>
        </div>

        <div class="pricing-subtitle">
          <h5>Polish</h5>
          <p class="subtitle-text">Choose from regular polish or gel polish. Both have a variety of colors and designs.</p>
        </div>
        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10">
            <div class="pricing-heading">
              <h6><span>Regular Polish</span></h6>
            </div>
            <div class="header">
              <p></p>
              <p class="heading">Hands</p>
              <p class="heading">Feet</p>
            </div>
            <div class="pricing-item" *ngFor="let polish of regPolish">
              <p class="item-name">{{polish.name}}</p>
              <p class="price">{{polish.hands}}</p>
              <p class="price">{{polish.feet}}</p>
            </div>
          </div>

          <div class="pricing-subsction col-lg-10">
            <div class="pricing-heading">
              <h6><span>Gel Polish</span></h6>
              <p class="desc">More durable and lasts longer than regular polish. While sometimes referred to as
                "no-chip" polish, proper nail care is still required to maintain the integrity of the polish.
              </p>
            </div>
            <div class="header">
              <p></p>
              <p class="heading">Whole Nail</p>
              <p class="heading">Tip Only</p>
            </div>
            <div class="pricing-item" *ngFor="let polish of gelPolish">
              <div class="item-name">
                <p>{{polish.name}}</p>
                <p class="desc">{{polish.desc}}</p>
              </div>
              <p class="price">{{polish.whole}}</p>
              <p class="price">{{polish.tip}}</p>
            </div>
          </div>
        </div>

        <div class="pricing-subtitle">
          <h5>Other Services</h5>
        </div>
        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10 align-self-center">
            <div class="pricing-item-single" *ngFor="let other of others">
              <p class="item-name">{{other.name}}</p>
              <p class="price">{{other.price}}</p>
            </div>
          </div>
        </div>

        <nav class="next">
          <a href="javascript:void(0)" (click)="scrollTo('pedicure')"><i class="fas fa-2x fa-angle-double-down"></i></a>
        </nav>
      </div>
    </article>

    <article class="pedicure" id="pedicure">
      <div class="service-title">
        <div class="icon-pic">
          <img src="/../../assets/images/pedicure.png" alt="pedi pic">
        </div>
        <h4>Pedicures</h4>
      </div>
      <div class="container">
        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10">
            <div class="pricing-item-single" *ngFor="let pedi of pedicure">
              <div class="item-name">
                <p>{{pedi.name}}</p>
                <p class="desc">{{pedi.desc}}</p>
              </div>
              <p class="price">{{pedi.price}}</p>
            </div>
            <div class="scents">
              <div class="item-name">
                <p>Deluxe Hot Stone Scents</p>
                <p class="desc">Choose only one:</p>
                <div class="scent-list">
                  <ul>
                    <li>Aloe Vera</li>
                    <li>Cucumber</li>
                    <li>Lavender</li>
                    <li>Milk & Honey</li>
                    <li>Orange</li>
                    <li>Sensual Rose</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <nav class="next">
          <a href="javascript:void(0)" (click)="scrollTo('nails')"><i class="fas fa-2x fa-angle-double-up"></i></a>
          <a href="javascript:void(0)" (click)="scrollTo('manicure')"><i class="fas fa-2x fa-angle-double-down"></i></a>
        </nav>
      </div>
    </article>

    <article class="manicure" id="manicure">
      <div class="service-title">
        <div class="icon-pic">
          <img src="/../../assets/images/manicure.png" alt="mani pic">
        </div>
        <h4>Manicures</h4>
      </div>
      <div class="container">
        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10">
            <div class="pricing-item-single" *ngFor="let mani of manicure">
              <div class="item-name">
                <p>{{mani.name}}</p>
                <p class="desc">{{mani.desc}}</p>
              </div>
              <p class="price">{{mani.price}}</p>
            </div>
          </div>
        </div>

        <nav class="next">
          <a href="javascript:void(0)" (click)="scrollTo('pedicure')"><i class="fas fa-2x fa-angle-double-up"></i></a>
          <a href="javascript:void(0)" (click)="scrollTo('waxing')"><i class="fas fa-2x fa-angle-double-down"></i></a>
        </nav>
      </div>
    </article>

    <article class="waxing" id="waxing">
      <div class="service-title">
        <div class="icon-pic">
          <img src="/../../assets/images/waxing.png" alt="wax pic">
        </div>
        <h4>Waxing</h4>
      </div>
      <div class="container">
        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10">
            <div class="pricing-item-single" *ngFor="let wax of waxing">
              <div class="item-name">
                <p>{{wax.name}}</p>
                <p class="desc">{{wax.desc}}</p>
              </div>
              <p class="price">{{wax.price}}</p>
            </div>
          </div>
        </div>
        <nav class="next">
          <a href="javascript:void(0)" (click)="scrollTo('manicure')"><i class="fas fa-2x fa-angle-double-up"></i></a>
          <a href="javascript:void(0)" (click)="scrollTo('kids')"><i class="fas fa-2x fa-angle-double-down"></i></a>
        </nav>
      </div>
    </article>

    <article class="kids" id="kids">
      <div class="service-title">
        <div class="icon-pic">
          <img src="/../../assets/images/kids.png" alt="kids pic">
        </div>
        <h4>Just for Kids</h4>
      </div>
      <div class="container">
        <p class="subtitle-text">Kids can enjoy a day at the spa too! Must be 10 years of age and under.</p>

        <div class="pricing-content row justify-content-center">
          <div class="pricing-subsction col-lg-10">
            <div class="pricing-item-single" *ngFor="let kid of kids">
              <p class="item-name">{{kid.name}}</p>
              <p class="price">{{kid.price}}</p>
            </div>
            <div class="header">
              <p></p>
              <p class="heading">Hands</p>
              <p class="heading">Feet</p>
            </div>
            <div class="pricing-item" *ngFor="let kid of kidPolish">
              <p class="item-name">{{kid.name}}</p>
              <p class="price">{{kid.hand}}</p>
              <p class="price">{{kid.feet}}</p>
            </div>
          </div>
        </div>

        <nav class="next">
          <a href="javascript:void(0)" (click)="scrollTo('waxing')"><i class="fas fa-2x fa-angle-double-up"></i></a>
        </nav>
      </div>
    </article>

    <nav class="pills-nav" [class.show]="show">
      <a href="javascript:void(0)" (click)="scrollTo('nails')">
        <div class="pills-pic">
          <img src="/../../assets/images/nails.png" alt="nail pic">
        </div>
        <p>Nails</p>
      </a>
      <a href="javascript:void(0)" (click)="scrollTo('pedicure')">
        <div class="pills-pic">
          <img src="/../../assets/images/pedicure.png" alt="pedi pic">
        </div>
        <p>Pedicure</p>
      </a>
      <a href="javascript:void(0)" (click)="scrollTo('manicure')">
        <div class="pills-pic">
          <img src="/../../assets/images/manicure.png" alt="mani pic">
        </div>
        <p>Manicure</p>
      </a>
      <a href="javascript:void(0)" (click)="scrollTo('waxing')">
        <div class="pills-pic">
          <img src="/../../assets/images/waxing.png" alt="wax pic">
        </div>
        <p>Waxing</p>
      </a>
      <a href="javascript:void(0)" (click)="scrollTo('kids')">
        <div class="pills-pic">
          <img src="/../../assets/images/kids.png" alt="wax pic">
        </div>
        <p>Kids</p>
      </a>
    </nav>
</section>

</body>
