/*Services styles section*/
.icon-pic img {
  width: 80px;
  height: 80px;
}

.icon-title h4 {
  margin-top: 30px;
  margin-bottom: 0;
}

article p {
  margin-top: 15px;
  margin-bottom: 0;
}

a {
  padding: 0;
}

.nails, .pedi {
  border-bottom: .5px solid black;
}

.nails, .mani {
  border-right: .5px solid black;
}

.content {
  margin-top: 35px;
}

.divider {
  margin: 0 auto;
}

article {
  padding: 40px 32px;
}

.services a > * {
position: relative;
}

.services a::before {
  position: absolute;
  content: '';
  background: lightgrey;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: .5s;
}

.services a:hover {
  z-index: 1;
}

.services a:hover::before {
	width: 104%;
	height: 104%;
	opacity: 1;
}

/* For laptops or smaller: */
@media only screen and (max-width: 767px) {
    article {
        padding: 20px;
    }

    .nails, .pedi, .mani {
      border: none;
    }
}

/* For widescreens */
@media only screen and (min-width: 1200px) {
  .content {
    margin-top: 60px;
  }
}
