<section class="section text-center">
  <h2>Our Services</h2>

  <p>come pamper yourself with our services</p>

  <div class="row justify-content-center">
    <article class="col-sm-4">
      <div>img icon</div>

      <h4>Manicures</h4>

      <p>get a manicure</p>
    </article>

    <article class="col-sm-4">
      <div>img icon</div>

      <h4>Pedicures</h4>

      <p>get a pedicure</p>
    </article>
  </div>

  <div class="row justify-content-center">
    <article class="col-sm-4">
      <div>img icon</div>

      <h4>Waxing</h4>

      <p>get a wax</p>
    </article>

    <article class="col-sm-4">
      <div>img icon</div>

      <h4>Nails</h4>

      <p>get your nails did</p>
    </article>
  </div>
</section>
